{% extends 'layouts/_default.twig'%}

{% block title %}
    Choices
{% endblock %}


{% block main_content %}

	<ul>
		{% for choice in choices %}
			<li>
				{{choice.choice}} -
				<a href="/choices/{{ choice.id }}/edit">Edit</a>
                | 
                <a href="/choices/{{ choice.id }}/delete">Delete</a>
                
			</li>
		{% endfor %}
	</ul>

    <p> 
        <a href="/choices/new">Create New choice </a>

{% endblock %}



